<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attendance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Attendance.Properties.Settings>
            <setting name="IpAddress" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MachineName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="IpDB" serializeAs="String">
                <value />
            </setting>
            <setting name="usernameDB" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordDB" serializeAs="String">
                <value />
            </setting>
            <setting name="catalogDB" serializeAs="String">
                <value />
            </setting>
            <setting name="newIP" serializeAs="String">
                <value />
            </setting>
            <setting name="newUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="newPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="newCatalog" serializeAs="String">
                <value />
            </setting>
        </Attendance.Properties.Settings>
    </userSettings>
</configuration>